.Dashboard {
    color: black;
    background: linear-gradient(
            106.37deg,
            #ffe1bc 29.63%,
            #ffcfd1 51.55%,
            #f3c6f1 90.85%
    );
    display: block;
    align-items: center;
    justify-content: center;
    font-family: 'Inter', sans-serif;
}

.DashGlass {
    display: block;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    border-radius: 2rem;
    gap: 16px;
    grid-template-columns: 11rem auto 20rem;
    overflow: hidden;
}

@media screen and (max-width: 1200px) {
    .DashGlass{
        grid-template-columns: 10% 50% auto;
        overflow-y: scroll;
    }
}

@media screen and (max-width: 768px) {
    .DashGlass{
        grid-template-columns: 1fr;
    }
}