.Table {
    margin-top: 20px;
    margin-bottom: 20px;
}

.Table th {
    font-weight: bold !important;
}

.Table:first-child {
    border-radius: 0.7rem !important;
}
.status {
    padding: 8px;
    border-radius: 9px;
}

.Details {
    color: #00b5ff !important;
}

.image {
    width: 100%;
    height: 100%;
}

@media screen and (max-width: 1200px) {
    .Table {
        width: 170%;
        margin-top: 2rem;
    }
}


@media screen and (max-width: 768px) {
    .Table{
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 23rem;
    }
}