* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
/* body {
	background: #ffe3e2;
	font-family: montserrat;
} */
.wrapper {
	max-width: 1000px;
    margin-left: 41%;
	/* margin: 0 auto; */
}
.wrapper h1 {
	padding: 20px 0;
	text-align: left;
	text-transform: uppercase;
}

.container{
    position: absolute;
    width: 100%;
    top:9.5%;
    left:0;
    z-index: 2;
    background: rgb(0 0 0 / 30%);
    height: 100vh;
}
.project {
	display: flex;
}
.shop {
	flex: 75%;
}
.box {
	display: flex;
	width: 100%;
	height: 200px;
	overflow: hidden;
	margin-bottom: 20px;
	background: #fff;
	transition: all .6s ease;
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.box:hover {
	border: none;
	transform: scale(1.01);
}
.box img {
	width: 300px;
	height: 200px;
	object-fit: cover;
}
.content {
	padding: 20px;
	width: 100%;
	position: relative;
}
.content h3 {
	margin-bottom: 30px;
}
.content h4 {
	margin-bottom: 50px;
}
.btnArea {
	position: absolute;
	bottom: 20px;
	right: 20px;
	padding: 10px 25px;
	background-color: black;
	color: white;
	cursor: pointer;
	border-radius: 5px;
}
.btnArea:hover {
	background-color: #dd0026;
	color: #fff;
	font-weight: 600;
}

.unit {
	display: flex;
    gap: 5px;
}

.unit button{
	padding: 0 5px;

}
.unit input {
	width: 40px;
	padding: 5px;
	text-align: center;
}
.btnArea i {
	margin-right: 5px;
}
.rightBar {
	flex: 25%;
	margin-left: 20px;
	padding: 20px;
	height: 400px;
	border-radius: 5px;
	background: #fff;
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.rightBar hr {
	margin-bottom: 25px;
}
.rightBar p {
	display: flex;
	justify-content: space-between;
	margin-bottom: 30px;
	font-size: 20px;
}
.rightBar a {
	background-color: black;
	color: #fff;
	text-decoration: none;
	display: block;
	text-align: center;
	height: 40px;
	line-height: 40px;
	font-weight: 900;
}
.rightBar i {
	margin-right: 15px;
}
.rightar a:hover {
	background-color:   black;
}
@media screen and (max-width: 700px) {
	.content h3 {
		margin-bottom: 15px;
	}
	.content h4 {
		margin-bottom: 20px;
	}
	.btn2 {
		display: none;
	}
	.box {
		height: 150px;
	}
	.box img {
		height: 150px;
		width: 200px;
	}
}
@media screen and (max-width: 900px) {
	.project {
		flex-direction: column;
	}
	.rightBar {
		margin-left: 0;
		margin-bottom: 20px;
	}
}
@media screen and (max-width: 1250px) {
	.wrapper {
		max-width: 95%;
        margin-left:41%;
	}
}

.close_container{
    color: white;
    display: flex;
    flex-direction: row;
    color: white;
    align-items: center;
    justify-content: space-between;
    margin: 20px;
    z-index: 100;
}

.close_btn{
    font-size: 30px;
    margin-right: 20px;
}