@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

body {
    line-height: 1.5;
    font-family: 'Poppins', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1170px;
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

ul {
    list-style: none;
    
}
.footerCols{
    display: flex;
    flex-direction: column;

}

.footer {
    background-color: #24262b;
    padding: 70px 0;
}

.footercol {
    width: 25%;
    padding: 0 15px;
}

.footercol h4 {
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}

.footercol h4::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #dd0026;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

/* .footercol ul li:not(:last-child) {
    margin: -10px;
} */

.footercol ul li a {
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    line-height: 1.75rem;
    font-weight: 300;
    display: block;
    transition: all 0.3s ease;
}

.footercol ul li a:hover {
    color: #ffffff;
    padding-left: 8px;
}

.footercol .sociallinks a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgb(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.3s ease;
}

.footercol .sociallinks a:hover {
    color: #24242b;
    background-color: #ffffff;
}

@media (max-width: 767px) {
    .footercol {
        width: 50%;
        margin-bottom: 30px;
    }
}

@media (max-width: 574px) {
    .footercol {
        width: 100%;
    }
}